@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:ital@1&family=Ubuntu:ital,wght@0,700;1,400;1,500&display=swap');
.contacts{
    max-width: 450px;
    display: flex;
}







.color{
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background: gray;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 17px;
    margin-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.5s all;
}
.color:hover{
    background: rgb(97, 96, 96);
}


.two {
    background: transparent;
    padding: 50px 20px;
    text-align: center;
  } 
  .two h3 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #232721;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
  }
  .two h3:before {
    content: ""; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 200%;
    border-radius: 50%/30%;
    border: 6px solid #998f8b;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  @media (max-width: 420px) {
    .two h1 {font-size: 2em;}
  }
